.container{

height : 380px;
width : 90%;
padding : 10px;
background-color: #efefef;
border : 3px solid maroon;
border-radius : 5px;

}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
